
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Lato', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

  </head>

  <body>

    <div class="container-fluid">
        <div class="row">

            {# Nav Div #}
            <div class="col-3 mx-2">

                <h1>{{ site.title|e('html') }}</h1>
                <hr>
                {% include 'partials/navigation.html.twig' %}
                <hr>

            </div>

            {# Content Div #}
            <div class="col mx-3">

                {% block content %}{% endblock %}

            </div>
        </div>


    </div><!-- /.container -->

    {% block bottom %}
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script src="https://cdn.rawgit.com/j0Shi82/nwoun_resources/9f2e575d697d52ccfcb835f175b1ac7d0ac26051/nwoun.tooltips.min.js"></script>
        {{ assets.js('bottom') }}
    {% endblock %}

  </body>
</html>
